<form action="" method="post">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">添加用户</h3>
    </div>
    <div class="row-fluid">
        <div class="block-fluid">
            <div class="row-form clearfix">
                <div class="span3">用户名:</div>
                <div class="span9"><input type="text" value=""/></div>
            </div>            
            <div class="row-form clearfix">
                <div class="span3">密码:</div>
                <div class="span9"><input type="password" value=""/></div>                    
            </div>                                    
            <div class="row-form clearfix">
                <div class="span3">确认密码:</div>
                <div class="span9"><input type="password" value=""/></div>
            </div>                                                
        </div>                
        <div class="dr"><span></span></div>
    </div>                    
    <div class="modal-footer">
        <button type="submit" class="btn btn-warning" data-dismiss="modal" aria-hidden="true">保存</button> 
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>            
    </div>
</form>