<!-- datepicker -->
<link rel="stylesheet" href="$!{main_static_url}/static/lib/datepicker/datepicker.css" />
<!-- tag handler -->
<link rel="stylesheet" href="$!{main_static_url}/static/lib/tag_handler/css/jquery.taghandler.css" />
<!-- nice form elements -->
<link rel="stylesheet" href="$!{main_static_url}/static/lib/uniform/Aristo/uniform.aristo.css" />
<!-- multiselect -->
<link rel="stylesheet" href="$!{main_static_url}/static/lib/multi-select/css/multi-select.css" />
<!-- enhanced select -->
<link rel="stylesheet" href="$!{main_static_url}/static/lib/chosen/chosen.css" />
<!-- upload -->
<link rel="stylesheet" href="$!{main_static_url}/static/lib/plupload/js/jquery.plupload.queue/css/plupload-gebo.css" />
<!-- colorbox -->
<link rel="stylesheet" href="$!{main_static_url}/static/lib/colorbox/colorbox.css" />
<!-- colorpicker -->
<link rel="stylesheet" href="$!{main_static_url}/static/lib/colorpicker/css/colorpicker.css" />	
<!-- toggle buttons -->
<link rel="stylesheet" href="$!{main_static_url}/static/lib/toggle_buttons/bootstrap-toggle-buttons.css" />

<!-- globalize for jQuery UI-->
<script src="$!{main_static_url}/static/lib/jquery-ui/external/globalize.js"></script>
<!-- touch events for jquery ui-->
<script src="$!{main_static_url}/static/js/forms/jquery.ui.touch-punch.min.js"></script>
<!-- masked inputs -->
<script src="$!{main_static_url}/static/js/forms/jquery.inputmask.min.js"></script>
<!-- autosize textareas -->
<script src="$!{main_static_url}/static/js/forms/jquery.autosize.min.js"></script>
<!-- textarea limiter/counter -->
<script src="$!{main_static_url}/static/js/forms/jquery.counter.min.js"></script>
<!-- datepicker -->
<script src="$!{main_static_url}/static/lib/datepicker/bootstrap-datepicker.min.js"></script>
<!-- timepicker -->
<script src="$!{main_static_url}/static/lib/datepicker/bootstrap-timepicker.min.js"></script>
<!-- tag handler -->
<script src="$!{main_static_url}/static/lib/tag_handler/jquery.taghandler.min.js"></script>
<!-- styled form elements -->
<script src="$!{main_static_url}/static/lib/uniform/jquery.uniform.min.js"></script>
<!-- animated progressbars -->
<script src="$!{main_static_url}/static/js/forms/jquery.progressbar.anim.js"></script>
<!-- multiselect -->
<script src="$!{main_static_url}/static/lib/multi-select/js/jquery.multi-select.js"></script>
<script src="$!{main_static_url}/static/lib/multi-select/js/jquery.quicksearch.js"></script>
<!-- enhanced select (chosen) -->
<script src="$!{main_static_url}/static/lib/chosen/chosen.jquery.min.js"></script>
<!-- TinyMce WYSIWG editor -->
<script src="$!{main_static_url}/static/lib/tiny_mce/jquery.tinymce.js"></script>
<!-- plupload and all it's runtimes and the jQuery queue widget (attachments) -->
<script type="text/javascript" src="$!{main_static_url}/static/lib/plupload/js/plupload.full.js"></script>
<script type="text/javascript" src="$!{main_static_url}/static/lib/plupload/js/jquery.plupload.queue/jquery.plupload.queue.full.js"></script>
<!-- colorpicker -->
<script src="$!{main_static_url}/static/lib/colorpicker/bootstrap-colorpicker.js"></script>
<!-- password strength checker -->
<script src="$!{main_static_url}/static/lib/complexify/jquery.complexify.min.js"></script>
<!-- toggle buttons -->
<script src="$!{main_static_url}/static/lib/toggle_buttons/jquery.toggle.buttons.js"></script>
<!-- tooltips -->
<script src="$!{main_static_url}/static/lib/qtip2/jquery.qtip.min.js"></script>
<!-- validation -->
<script src="$!{main_static_url}/static/lib/validation/jquery.validate.min.js"></script>
<!-- sticky messages -->
<script src="$!{main_static_url}/static/lib/sticky/sticky.min.js"></script>

<script>
	gebo_chosen = {
		init: function(){
			$(".chzn_b").chosen({
				allow_single_deselect: true
			});
			$(".chzn_b").chosen();
		}
	};


    $(document).ready(function() {
        gebo_chosen.init();
    });


</script>


<nav>
    <div id="jCrumbs" class="breadCrumb module">
        <ul>
            <li>
                <a href="#"><i class="icon-home"></i></a>
            </li>
            <li>
                <a href="#">系统管理</a>
            </li>
            <li>
				用户管理
            </li>
        </ul>
    </div>
</nav>
	

<form class="form-horizontal">
    <fieldset>
        <div class="control-group formSep">
            <label class="control-label">用户名<span class="f_req">*</span></label>
            <div class="controls text_line">
                <input type="text" name="username" class="input-xlarge" value="" />
            </div>
        </div>
        <div class="control-group formSep">
            <label for="u_password" class="control-label">密码<span class="f_req">*</span></label>
            <div class="controls">
                <div class="sepH_b">
                    <input type="password" name="password" id="u_password" class="input-xlarge" value="" />
                    <span class="help-block">输入密码</span>
                </div>
                <input type="password" name="password1" id="s_password_re" class="input-xlarge" />
                <span class="help-block">再次输入密码</span>
            </div>
        </div>
        <div class="control-group formSep">
			<label class="control-label">权限类型<span class="f_req">*</span></label>
			<div class="controls text_line">
    			<select name="isAdmin">
    				<option value="0">超级管理员</option>
    				<option value="1">授权用户</option>
    			</select>
			</div>
		</div>
        <div class="control-group formSep">
			<label class="control-label">角色</label>
			<div class="controls text_line">
    			<select name="chosen_b" id="chosen_b" multiple data-placeholder="请选择一个角色" class="chzn_b">
					<option value="1">角色1</option>
					<option value="2">角色2</option>
				</select>
			</div>
		</div>
    </fieldset>
	<div class="form-actions">
		<button class="btn btn-inverse" type="submit">Save changes</button>
		<button class="btn">Cancel</button>
	</div>
</form>
	
<script>

//* validation
gebo_validation = {
	ttip: function() {
			var ttip_validator = $('.form-horizontal').validate({
        	onkeyup: false,
        	errorClass: 'error',
        	validClass: 'valid',
        	highlight: function(element) {
        		$(element).closest('div').addClass("f_error");
        	},
        	unhighlight: function(element) {
        		$(element).closest('div').removeClass("f_error");
        	},
        	rules: {
        		username: { required: true, minlength: 3 },
        		password: { required: true, minlength: 3 },
        		isAdmin: { required: true }
        },
        	invalidHandler: function(form, validator) {

			},
        	errorPlacement: function(error, element) {
        		// Set positioning based on the elements position in the form
        		var elem = $(element);
        		
        		// Check we have a valid error message
        		if(!error.is(':empty')) {
        			if( (elem.is(':checkbox')) || (elem.is(':radio')) ) {
        				// Apply the tooltip only if it isn't valid
        				elem.filter(':not(.valid)').parent('label').parent('div').find('.error_placement').qtip({
        					overwrite: false,
        					content: error,
        					position: {
        						my: 'left bottom',
        						at: 'center right',
        						viewport: $(window),
        						adjust: {
        							x: 6
        						}
        					},
        					show: {
        						event: false,
        						ready: true
        					},
        					hide: false,
        					style: {
        						classes: 'ui-tooltip-red ui-tooltip-rounded' // Make it red... the classic error colour!
        					}
        				})
        				// If we have a tooltip on this element already, just update its content
        				.qtip('option', 'content.text', error);
        			} else {
        				// Apply the tooltip only if it isn't valid
        				elem.filter(':not(.valid)').qtip({
        					overwrite: false,
        					content: error,
        					position: {
        						my: 'bottom left',
        						at: 'top right',
        						viewport: $(window),
        						adjust: { x: -8, y: 6 }
        					},
        					show: {
        						event: false,
        						ready: true
        					},
        					hide: false,
        					style: {
        						classes: 'ui-tooltip-red ui-tooltip-rounded' // Make it red... the classic error colour!
        					}
        				})
        				// If we have a tooltip on this element already, just update its content
        				.qtip('option', 'content.text', error);
        			};
        			
        		}
        		// If the error is empty, remove the qTip
        		else {
        			if( (elem.is(':checkbox')) || (elem.is(':radio')) ) {
        				elem.parent('label').parent('div').find('.error_placement').qtip('destroy');
        			} else {
        				elem.qtip('destroy');
        			}
        		}
        	},
        	success: alert(11)
        })
	}
};

$(document).ready(function() {
	//* validation with tooltips
	gebo_validation.ttip();
});


</script>