<!--[if lte IE8]>
<link rel="stylesheet" href="$!{main_static_url}/static/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="$!{main_static_url}/static/bootstrap/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="$!{main_static_url}/static/lib/jBreadcrumbs/css/BreadCrumb.css" />
<link rel="stylesheet" href="$!{main_static_url}/static/lib/qtip2/jquery.qtip.min.css" />
<link rel="stylesheet" href="$!{main_static_url}/static/lib/sticky/sticky.css" />    
<link rel="stylesheet" href="$!{main_static_url}/static/img/splashy/splashy.css" />
<link rel="stylesheet" href="$!{main_static_url}/static/lib/colorbox/colorbox.css" />
<link rel="stylesheet" href="$!{main_static_url}/static/css/blue.css" id="link_theme" />    
<link rel="stylesheet" href="$!{main_static_url}/static/css/style.css" />
<link rel="stylesheet" href="$!{main_static_url}/static/css/googlefont.css" />
<link rel="shortcut icon" href="$!{main_static_url}/static/favicon.ico" />
<script src="$!{main_static_url}/static/js/jquery.min.js"></script>
<script src="$!{main_static_url}/static/js/jquery-migrate.min.js"></script>
<script src="$!{main_static_url}/static/js/jquery.debouncedresize.min.js"></script>
<script src="$!{main_static_url}/static/js/jquery.actual.min.js"></script>
<script src="$!{main_static_url}/static/js/jquery_cookie.min.js"></script>
<script src="$!{main_static_url}/static/bootstrap/js/bootstrap.min.js"></script>
<script src="$!{main_static_url}/static/js/bootstrap.plugins.min.js"></script>
<script src="$!{main_static_url}/static/lib/qtip2/jquery.qtip.min.js"></script>
<script src="$!{main_static_url}/static/js/ios-orientationchange-fix.js"></script>
<script src="$!{main_static_url}/static/lib/antiscroll/antiscroll.js"></script>
<script src="$!{main_static_url}/static/lib/antiscroll/jquery-mousewheel.js"></script>
<script src="$!{main_static_url}/static/js/selectNav.js"></script>
<script src="$!{main_static_url}/static/js/gebo_common.js"></script>
<![endif]-->

<script src="$!{main_static_url}/static/lib/jquery-ui/jquery-ui-1.10.0.custom.min.js"></script>
<!-- touch events for jquery ui-->
<script src="$!{main_static_url}/static/js/forms/jquery.ui.touch-punch.min.js"></script>
<!-- colorbox -->
<script src="$!{main_static_url}/static/lib/colorbox/jquery.colorbox.min.js"></script>
<!-- datatable (inbox,outbox) -->
<script src="$!{main_static_url}/static/lib/datatables/jquery.dataTables.min.js"></script>
<!-- additional sorting for datatables -->
<script src="$!{main_static_url}/static/lib/datatables/jquery.dataTables.sorting.js"></script>
<!-- datatables bootstrap integration -->
<script src="$!{main_static_url}/static/lib/datatables/jquery.dataTables.bootstrap.min.js"></script>
<!-- plupload and all it's runtimes and the jQuery queue widget (attachments) -->
<script type="text/javascript" src="$!{main_static_url}/static/lib/plupload/js/plupload.full.js"></script>
<script type="text/javascript" src="$!{main_static_url}/static/lib/plupload/js/jquery.plupload.queue/jquery.plupload.queue.full.js"></script>
<!-- autosize textareas (new message) -->
<script src="$!{main_static_url}/static/js/forms/jquery.autosize.min.js"></script>
<!-- tag handler (recipients) -->
<script src="$!{main_static_url}/static/lib/tag_handler/jquery.taghandler.min.js"></script>

<script>
    gebo_mailbox = {
        inbox: function() {
            $('#dt_inbox').dataTable({
                "oLanguage": {
                    "sLengthMenu": "_MENU_ messages",
                    "sZeroRecords": "No messages to display"
                },
                "sDom": "<'row'<'span6'<'dt_actions'>l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
                "sPaginationType": "bootstrap",
                "iDisplayLength": 10,
                "aaSorting": [[ 5, "desc" ]],
                "aoColumns": [
                    { "bSortable": false, 'sWidth': '13px' },
                    { "sType": "string" },
                    { "sType": "string" },
                    { "sType": "string" },
                    { "sType": "eu_date" },
                ]
            });
            //* copy actions buttons to datatable
            $('#dt_inbox_wrapper .dt_actions').html($('.dt_inbox_actions').html());
            //* add tootlips for buttons
            $('#dt_inbox_wrapper .dt_actions a').addClass('ttip_t');
            //* reinitialize tooltips
            gebo_tips.init();
            
        }
    };


    $(document).ready(function() {
        //* show all elements & remove preloader
        setTimeout('$("html").removeClass("js")',1000);
        //* inbox
        gebo_mailbox.inbox();
		
		$(".clickButton").click(function(){
			var url = $(this).attr("name");
			$("#mainContent").load(url);
		});
    });


</script>

<nav>
    <div id="jCrumbs" class="breadCrumb module">
        <ul>
            <li>
                <a href="#"><i class="icon-home"></i></a>
            </li>
            <li>
                <a href="#">系统管理</a>
            </li>
            <li>
				用户管理 
            </li>
        </ul>
    </div>
</nav>
	

<table data-msg_rowlink="a" class="table table_vam mbox_table dTableR" id="dt_inbox">
    <thead>
        <tr>
            <th class="table_checkbox"><input type="checkbox" data-tableid="dt_inbox" class="select_msgs" name="select_msgs"></th>
            <th>用户名</th>
            <th>密码</th>
            <th>IP</th>
            <th>时间</th>
        </tr>
    </thead>
    <tbody>
		#foreach( $user in $!userlist )
		<tr class="unread">
            <td class="nohref"><input type="checkbox" class="select_msg" name="$!user.id"></td>
            <td>$!user.username</td>
            <td>$!user.password</td>
            <td>$!user.ip</td>
            <td>$!user.createTime</td>
        </tr>
		#end
    </tbody>
</table>
	
<!-- hide elements -->
<div class="hide">
    <!-- actions for inbox -->
    <div class="dt_inbox_actions">
        <div class="btn-group">
            <a href="javascript:void(0);" name="$!{rc.contextPath}/admin/TbsUser/add.html" class="btn clickButton" title="Answer"><i class="icon-pencil"></i></a>
            <a href="javascript:void(0);" name="$!{rc.contextPath}/admin/TbsUser/show.html" class="btn clickButton" title="Forward"><i class="icon-share-alt"></i></a>
            <a href="#" class="delete_msg btn" title="Delete" data-tableid="dt_inbox"><i class="icon-trash"></i></a>
        </div>
    </div>
</div>
