<!DOCTYPE html>
<html lang="en" class="login_page">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>登录</title>
    
        <!-- Bootstrap framework -->
        <link rel="stylesheet" href="$!{main_static_url}/static/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="$!{main_static_url}/static/bootstrap/css/bootstrap-responsive.min.css" />
        <!-- theme color-->
        <link rel="stylesheet" href="$!{main_static_url}/static/css/blue.css" />
        <!-- tooltip -->    
        <link rel="stylesheet" href="$!{main_static_url}/static/lib/qtip2/jquery.qtip.min.css" />
        <!-- main styles -->
        <link rel="stylesheet" href="$!{main_static_url}/static/css/style.css" />
        <!-- Favicon -->
        <link rel="shortcut icon" href="$!{main_static_url}/static/favicon.ico" />
        <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans" />-->
		<link rel="stylesheet" href="$!{main_static_url}/static/css/googlefont.css" />
        <!--[if lte IE 8]>
            <script src="$!{main_static_url}/static/js/ie/html5.js"></script>
            <script src="$!{main_static_url}/static/js/ie/respond.min.js"></script>
        <![endif]-->
        
    </head>
    <body>

		<div class="login_box">
            
            <form action="$!{rc.contextPath}/admin/login.html" method="post" id="login_form">
                <div class="top_b">通用权限管理系统</div>    
                <div class="alert alert-info alert-login">
					#if($!msg )
						$!msg
					#else 
						Clear username and password field to see validation.
					#end
                </div>
                <div class="cnt_b">
                    <div class="formRow">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-user"></i></span><input type="text" id="username" name="username" placeholder="Username" />
                        </div>
                    </div>
                    <div class="formRow">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-lock"></i></span><input type="password" id="password" name="password" placeholder="Password" />
                        </div>
                    </div>
					<div class="formRow">
                        <div class="input-prepend">
                            <span class="add-on"></span><input type="text" id="verifyCode" name="verifyCode" placeholder="verifyCode" maxlength="4" style="width:60px;" />
							<span style="margin-left: 4px;" /> 
							<a style="text-align: center;" id="verifyClick" title="点击 刷新?" href="javascript:void(0);"> 
							<img style="width:65px;height:27px;" align="absmiddle" id="verifyCode" src="$!{rc.contextPath}/admin/verifyCode.html" />
							</a>
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <label class="checkbox"><input type="checkbox" /> Remember me</label>
                    </div>
                </div>
                <div class="btm_b clearfix">
                    <button class="btn btn-inverse pull-right" type="submit" id="login_button">Sign In</button>
                </div>  
            </form>
            
            
        </div>
        
        <script src="$!{main_static_url}/static/js/jquery.min.js"></script>
        <script src="$!{main_static_url}/static/js/jquery-migrate.min.js"></script>
        <script src="$!{main_static_url}/static/js/jquery.actual.min.js"></script>
        <script src="$!{main_static_url}/static/lib/validation/jquery.validate.min.js"></script>
        <script src="$!{main_static_url}/static/bootstrap/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function(){
                
                //* boxes animation
                form_wrapper = $('.login_box');
                function boxHeight() {
                    form_wrapper.animate({ marginTop : ( - ( form_wrapper.height() / 2) - 24) },400);   
                };
                form_wrapper.css({ marginTop : ( - ( form_wrapper.height() / 2) - 24) });
                $('.linkform a,.link_reg a').on('click',function(e){
                    var target  = $(this).attr('href'),
                        target_height = $(target).actual('height');
                    $(form_wrapper).css({
                        'height'        : form_wrapper.height()
                    }); 
                    $(form_wrapper.find('form:visible')).fadeOut(400,function(){
                        form_wrapper.stop().animate({
                            height   : target_height,
                            marginTop: ( - (target_height/2) - 24)
                        },500,function(){
                            $(target).fadeIn(400);
                            $('.links_btm .linkform').toggle();
                            $(form_wrapper).css({
                                'height'        : ''
                            }); 
                        });
                    });
                    e.preventDefault();
                });
                
				//验证码
				$("#verifyClick").bind('click', function() {
        			var url = '$!{rc.contextPath}/admin/verifyCode.html?t=' + Math.random();
        			$('#verifyCode').attr('src', url);
        		});
				
                //* validation
                $('#login_form').validate({
                    onkeyup: false,
                    errorClass: 'error',
                    validClass: 'valid',
                    rules: {
                        username: { required: true, minlength: 3 },
                        password: { required: true, minlength: 3 },
						verifyCode:{ required: true, minlength: 4 }
                    },
                    highlight: function(element) {
                        $(element).closest('div').addClass("f_error");
                        setTimeout(function() {
                            boxHeight()
                        }, 200)
                    },
                    unhighlight: function(element) {
                        $(element).closest('div').removeClass("f_error");
                        setTimeout(function() {
                            boxHeight()
                        }, 200)
                    },
                    errorPlacement: function(error, element) {
                        $(element).closest('div').append(error);
                    }
                });
            });
        </script>
       
    </body>
</html>
