<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
	    <meta http-equiv="Content-Language" content="zh-CN" />  
        <title>通用权限管理系统</title>
        <!-- Bootstrap framework -->
        <link rel="stylesheet" href="$!{main_static_url}/static/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="$!{main_static_url}/static/bootstrap/css/bootstrap-responsive.min.css" />
        <!-- breadcrumbs-->
        <link rel="stylesheet" href="$!{main_static_url}/static/lib/jBreadcrumbs/css/BreadCrumb.css" />
        <!-- tooltips-->
        <link rel="stylesheet" href="$!{main_static_url}/static/lib/qtip2/jquery.qtip.min.css" />
        <!-- notifications -->
        <link rel="stylesheet" href="$!{main_static_url}/static/lib/sticky/sticky.css" />    
        <!-- splashy icons -->
        <link rel="stylesheet" href="$!{main_static_url}/static/img/splashy/splashy.css" />
        <!-- colorbox -->
        <link rel="stylesheet" href="$!{main_static_url}/static/lib/colorbox/colorbox.css" />
        <!-- gebo color theme-->
        <link rel="stylesheet" href="$!{main_static_url}/static/css/blue.css" id="link_theme" />    
        <!-- main styles -->
        <link rel="stylesheet" href="$!{main_static_url}/static/css/style.css" />
        <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans" />-->
		<link rel="stylesheet" href="$!{main_static_url}/static/css/googlefont.css" />
        <!-- Favicon -->
        <link rel="shortcut icon" href="$!{main_static_url}/static/favicon.ico" />
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="$!{main_static_url}/static/css/ie.css" />
        <![endif]-->
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="$!{main_static_url}/static/css/ie.css" />
            <script src="$!{main_static_url}/static/js/ie/html5.js"></script>
            <script src="$!{main_static_url}/static/js/ie/respond.min.js"></script>
        <![endif]-->
		
		    <script src="$!{main_static_url}/static/js/jquery.min.js"></script>
            <script src="$!{main_static_url}/static/js/jquery-migrate.min.js"></script>
            <!-- smart resize event -->
            <script src="$!{main_static_url}/static/js/jquery.debouncedresize.min.js"></script>
            <!-- hidden elements width/height -->
            <script src="$!{main_static_url}/static/js/jquery.actual.min.js"></script>
            <!-- js cookie plugin -->
            <script src="$!{main_static_url}/static/js/jquery_cookie.min.js"></script>
            <!-- main bootstrap js -->
            <script src="$!{main_static_url}/static/bootstrap/js/bootstrap.min.js"></script>
             <!-- bootstrap plugins -->
            <script src="$!{main_static_url}/static/js/bootstrap.plugins.min.js"></script>
            <!-- tooltips -->
            <script src="$!{main_static_url}/static/lib/qtip2/jquery.qtip.min.js"></script>
            <!-- fix for ios orientation change -->
            <script src="$!{main_static_url}/static/js/ios-orientationchange-fix.js"></script>
            <!-- scrollbar -->
            <script src="$!{main_static_url}/static/lib/antiscroll/antiscroll.js"></script>
            <script src="$!{main_static_url}/static/lib/antiscroll/jquery-mousewheel.js"></script>
            <!-- mobile nav -->
            <script src="$!{main_static_url}/static/js/selectNav.js"></script>
            <!-- common functions -->
            <script src="$!{main_static_url}/static/js/gebo_common.js"></script>
		
        <script>
            //* hide all elements & show preloader
            document.documentElement.className += 'js';
        </script>
    </head>
    <body>
		
		<script>
                $(document).ready(function() {
                    //* show all elements & remove preloader
                    setTimeout('$("html").removeClass("js")',1000);
					
					$(".clickMenu").click(function(){
						var url = $(this).attr("name");
						//console.log("url:"+url);
						$("#mainContent").load(url);
					});
					
                });
            </script>
		
        <div id="loading_layer" style="display:none"><img src="$!{main_static_url}/static/img/ajax_loader.gif" alt="" /></div>
        <div id="maincontainer" class="clearfix">
            <!-- header -->
            <header>
                <div class="navbar navbar-fixed-top">
                    <div class="navbar-inner">
                        <div class="container-fluid">
                            <a class="brand" href="#"><i class="icon-home icon-white"></i> 通用权限管理系统</a>
                            <ul class="nav user_menu pull-right">
                                <li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">$!user.username<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li class="divider"></li>
                                        <li><a href="$!{rc.contextPath}/admin/exit.html">退出</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav" id="mobile-nav">
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#"> 快捷菜单 <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">menu section</a></li>
                                        <li><a href="#">menu section</a></li>
                                        <li><a href="#">menu section</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            
            <!-- main content -->
            <div id="contentwrapper">
                <div id="mainContent" class="main_content">
                    
                
                </div>
            </div>
            
            <!-- sidebar -->
            <a href="javascript:void(0)" class="sidebar_switch on_switch ttip_r" title="Hide Sidebar">Sidebar switch</a>
            <div class="sidebar">
                <div class="antiScroll">
                    <div class="antiscroll-inner">
                        <div class="antiscroll-content">
                            <div class="sidebar_inner">
                                <form action="search_page.html" class="input-append" method="post" >
                                    <input autocomplete="off" name="query" class="search_query input-medium" size="16" type="text" placeholder="Search..." /><button type="submit" class="btn"><i class="icon-search"></i></button>
                                </form>
                                <div id="side_accordion" class="accordion">
									
									#set ($i=1)
									#foreach( $menu in $listTbsMenuModel)
                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a href="#collapse$i" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
                                                $menu.name
                                            </a>
                                        </div>
                                        <div class="accordion-body collapse" id="collapse$i">
                                            <div class="accordion-inner">
                                                <ul class="nav nav-list">
                                    				#foreach( $child in $menu.listTbsMenuModel )
                                    				<li><a href="javascript:void(0)" class="clickMenu" name="$!{rc.contextPath}/$child.url?id=$child.id">$child.name</a></li>
                                    				#end
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
									#set($i=$i+1)
                                    #end
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>